@using ExerciseWebRole2.Database
@{
    ViewBag.Title = "Catagory";
    var list = ViewBag.ListEntry;
    var lisPro = ViewBag.ListProduct;

}

<div>

    @*@foreach (Category item in list)
    {
        <p><a href=@Url.Action("Detail", "Category", new { id = item.CategoryID })>@item.CategoryName</a></p>      
    }*@
</div>




